#nextsteps {
   color: red;
   background-color:purple;
}

.emphasized {
   font-size: 1.2em;
   background-color:red;
}

.div1 {
   alignment-adjust:central;
   text-align:center;
}

.div{
   border-image-width:5px;
   vertical-align:central;
}

.ortala {
      font: 24pt Tahoma, Verdana;
      font-weight:bold;
      color: blue;
      background-color:red;
      
}